.gitattributes   export-ignore
.github/         export-ignore
.gitignore       export-ignore
.phpstan*.neon   export-ignore
.php-cs-fixer.*  export-ignore
phpunit.xml.dist export-ignore
README.md        export-ignore
docs/            export-ignore
tests/           export-ignore
