parameters:
	ignoreErrors:
		-
			message: "#^Call to an undefined method object\\:\\:getId\\(\\)\\.$#"
			count: 1
			path: src/Form/Transformer/ObjectToIdTransformer.php

		-
			message: "#^Cannot call method getRepository\\(\\) on Doctrine\\\\Persistence\\\\ObjectManager\\|null\\.$#"
			count: 1
			path: src/Form/Transformer/ObjectToIdTransformer.php

